.product-listing-page {
  margin:1rem;
  max-width: 80%;
}

.products {
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}
.products li {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  cursor: pointer;
}
.go-to-cart {
  color: white;
  background-color: rgb(57, 248, 255);
  border:0 solid;
  padding:0.5rem;
  margin: 1rem 0;
}

.add-to-cart {
  color: white;
  background-color: rgb(0, 76, 255);
  border:0 solid;
  padding:0.5rem;
  margin: 1rem 0;
}
.remove-from-wishlist {
  color: white;
  background-color: rgb(222, 39, 39);
  border:0 solid;
  padding:0.5rem;
  margin: 1rem 0;
}
.wishlist {
  color:red;
  font-size: 1.8rem;
  position: absolute;
  padding:0.5rem;
  border: 1px solid transparent;
  border-radius: 50%;
  /* background-color: rgba(232, 227, 227, 0.991); */
}
.wishlist:hover{
  font-size: 2.4rem;
  background-color: white;
  box-shadow: 0 0 33px 2px rgb(0, 0, 0);
}
.title-rating-container {
  display: flex;
  justify-content: space-between;
}
#product-title {
  font-size: 1.15rem;
}
.title-rating-container p {
  align-self: center;
}